body {
  background-image: url("https://st2.depositphotos.com/5416734/12236/v/950/depositphotos_122365452-stock-illustration-hand-drawn-books-vector-illustration.jpg")
}

nav  {
  background-color: #090900;
  color: #f1f1f1;

}
nav a {
  color: #f1f1f1;

}

.jumbotron a {
  color: #090900
}

button a {
  color: #090900
}